<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookCMS_WPF.Properties.Settings.BOOKS_FROM_ACCESS_MDFConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BooksCMS_TestLeer;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BookCMS_WPF.Properties.Settings.BOOKS_FROM_ACCESS_MDFConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BOOKS_FROM_ACCESS.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>