<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookCMS_WPF.Properties.Settings.BookCMS_TestConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Daten\BookCMS-Test.accdb"
            providerName="System.Data.OleDb" />
        <add name="BookCMS_WPF.Properties.Settings.BookCMS_localDBConnectionString"
            connectionString="Data Source=(localDB)\MSSQLLocalDB;Initial Catalog=BookCMS-localDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>