<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookCMS_WPF.Properties.Settings.BookCMS_TestConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Daten\BookCMS-Test.accdb"
            providerName="System.Data.OleDb" />
        <add name="BookCMS_WPF.Properties.Settings.BookCMS_localDBConnectionString"
            connectionString="Data Source=(localDB)\MSSQLLocalDB;Initial Catalog=BookCMS-localDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BookCMS_WPF.Properties.Settings.D__USERS_PETER_DOCUMENTS_VISUAL_STUDIO_2017_PROJEKTE_BOOKCMS_LOCALDB_BOOKCMS_LOCALDB_BIN_DEBUG_BOOKSQL_DB_MDFConnectionS"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=&quot;D:\USERS\PETER\DOCUMENTS\VISUAL STUDIO 2017\PROJEKTE\BOOKCMS-LOCALDB\BOOKCMS-LOCALDB\BIN\DEBUG\BOOKSQL-DB.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BookCMS_WPF.Properties.Settings.Books_from_AccessConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Books_from_Access;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>